%ul
  %li= link_to "Home", root_path
  %li= link_to "Sign Up", new_user_registration_path
  - if current_user
    %li= link_to "Login", new_user_session_path
  - else

    %li= link_to "Sign Out", destroy_user_session_path, method: :delete, rel: :nofollow
  - if current_user
    %li= link_to "Dashboard",  tasks_path
